*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    padding-bottom: 2rem;
    width: 100%;
    color: #12263a;
    background: #ffffff;
}


#i {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.nav {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding: 0.8rem 5.7%;
    background: #12263a;
}

.logo {
    cursor: pointer;
}


.user {
    width: 24px;
    height: 24px;
}
.user img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.back {
    transition: 0.3s ease;
}
.back:hover {
    transform: scale(1.1);
}
.prof {
    display: flex;
    gap: 1.1rem;
}
#user {
    transition: 0.3s ease;
    cursor: pointer;
}
#user:hover {
    transform: scale(1.1);
}


#cartImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.cart {
    width: 24px;
    height: 24px;
    position: relative;
}
#cart_num {
    background: rgba(239, 50, 50, 0.96);
    padding: 3px;
    height: 18px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 18px;
    border-radius: 100%;
    position: absolute;
    top: -28%;
    left: 68%;
}
#zIca {
    position: relative;
}