*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(14.7px, 2.5vw, 16.4px);
}

.id {
    opacity: 0.9;
    font-size: 14px;
    font-weight: 300;
}
.id span {
    font-weight: 500;
}
.logo h1{
    font-size: calc(1em + 4.2px);
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    padding-bottom: 2rem;
    width: 100%;
    color: #12263a;
    background: #ffffff;
}


#i {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.nav {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding: 0.8rem 5.7%;
    background: #12263a;
}

.logo {
    cursor: pointer;
}


.user {
    width: 24px;
    height: 24px;
}
.user img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.back {
    transition: 0.3s ease;
}
.back:hover {
    transform: scale(1.1);
}
.prof {
    display: flex;
    gap: 1.1rem;
}
#user {
    transition: 0.3s ease;
    cursor: pointer;
}
#user:hover {
    transform: scale(1.1);
}


#cartImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.cart {
    width: 24px;
    height: 24px;
    position: relative;
}
#cart_num {
    background: rgba(239, 50, 50, 0.96);
    padding: 3px;
    height: 18px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 18px;
    border-radius: 100%;
    position: absolute;
    top: -28%;
    left: 68%;
}
#zIca {
    position: relative;
}

/*  Main with product card */

.main {
    max-width: 940px;
    display: block;
    margin: 0 auto;
    padding: 0;
}  

.prodImg {
    max-width: 120px;
    max-height: 140px;
}
.prodImg img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.orderID {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.6rem 2%;
}
.date {
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
}
.dateForm {
    display: flex;
    margin: 0.6rem;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}
.dateForm > div > p {
    font-size: calc(1em - 2px);
    font-weight: 600;
}
.del, .card{
    flex-grow: 1;
}
.tiasd {
    font-weight: 600;
}
.ainw {
    margin-top: 9px;
}
.ainw >div {
    margin-top: 6px;
}
.content span {
    opacity: 0.8;
    font-size: calc(1em - 1.6px);
}
.imp {
    border-bottom: 1px solid #c2c2c2c2;
    padding: 21px 7px 12px 7px;
    font-weight: 300;
}
.imp p:nth-child(2) {
    margin-top: 4px;
}
.orderID {
    margin-top: 1.3rem;
    padding: 0 7px;
    font-weight: 400;
    border-bottom: 1px solid #c2c2c2c2;
    padding-bottom: 0.5rem;
}
.orderID span {
    opacity: 0.8;
    font-weight: 500;
}
.orderID span,.orderID p {
    font-size: calc(1em - 1.5px);
}

.del {
    padding: 0.6rem 7px;
    border-top: 1px solid #c2c2c2c2;
    border-bottom: 1px solid #c2c2c2c2;
}

.processing {
    display: flex;
    align-items: center;
}
.timer {
    height: 16px;
    width: 16px;
}
.timer img {
    max-width: 100%;
    max-height: 100%;
}
.scale {
    width: 96%;
    margin: 0.8rem auto;
    position: relative;
}
#scale {
    border: 3px solid;
    align-items: center;
    border-radius: 9px;
    color: #4BAE4F;
    display: flex;     
    justify-content: space-between;    
    height: 0;
    transition: 3s ease;   
}

.tick {
    width: 18px;
    height: 18px;
}
.tick img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.tkwn {
    position: absolute;
    top: -50%;
    left: 0;
    transform: translate(0, -90%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}
.scaleOuter {
    border: 3px solid #c2c2c2c2;
    display: flex;
    align-items: center;
    height: 0;
}
@media (max-width: 762px) {
    .scaleOuter {
        display: flex;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
    }
    .orderDetails {
        flex-direction: column;
    }
    .main {
        padding: 0 5%;
    }

    .date {
        flex-direction: row;
    }
    .dateForm {
        margin-top: 0.8rem;
        gap: 2.7rem;
        align-items: flex-start;
        flex-direction: column;
    }
    .scale {
        width: 0;
        margin: 0.3rem 0.6rem;
        padding-top: 0.9rem;
    }
    #scale {
        width: 0;
        flex-direction: column;
        justify-content: space-between;
        transition: 3s ease;   
    }

    .tkwn {
        position: absolute;
        top: 0;
        left: 60%;
        transform: translate(-35%, 0%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: fit-content;
    }
}
.apw {
    transition: 0.3s ease;
}
.apw:hover {
    transform: scale(1.07);
}

/* Rating Product */

.rateProduct {
    padding: 1rem 0.6rem;  
    border-bottom: 1px solid #c2c2c2c2; 
}
.rateProduct h1{
    margin-bottom: 0.7rem;
    font-size: calc(1em + 3px);
    width: fit-content;
}

.starCount input{
    display: none;
}
.imageStar {
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: 0.18s ease;
}
.imageStar:hover {
    transform: scale(1.1);
}
.imageStar img {
    max-width: 100%;
    max-height: 100%;
}
.ayw {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.aiw {
    display: flex;
    gap: 0.8rem;
}
.aiw p {
    font-size: 12px;
}

#reset {
    border: 1px solid #c2c2c2c2;
    padding: 5px 18px;
    background: #c2c2c2c2;
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    transition: 0.2s ease;
    width: fit-content;
}
#reset:hover {
    transform: scale(1.04);
}
.inputs {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.desc {
    display: flex;
    gap: 0.6rem;
}
.description {
    max-width: 380px;
    min-width: 189px;
    height: 7.4rem;
    resize: none;
    padding: 6px;
    border-radius: 4px;
}
.description:hover {
    outline: none;
    border: 1px solid grey;
}
.description:focus {
    outline: none;
    border: 1px solid #12263a;
}
.description::-webkit-scrollbar {
    display: none;
}
.submit {
    width: fit-content;
    padding: 5px 18px;
    border: 1px solid #12263a;
    background: #12263a;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}
.submit:hover {
    transform: scale(1.03);
    background: #fff;
    color: #12263a;
}
@media (max-width: 269px) {
    .imageStar {
        width: 24px;
        height: 24px;
    }
    .aiw p {
        font-size: 8px;
        gap: 0.1rem;
    }
}
.editImg {
    width: 19px;
    height: 19px;
}
.editImg img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#editBtn {
    margin-top: 0.6rem;
    display: flex;
    font-weight: 500;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s ease;
}
#editBtn:hover {
    transform: scale(1.03);
}


/*  Address */

.Stitle {
    padding: 0.6rem 0.7rem;
    font-size: 14px;
    border-bottom: 1px solid #c2c2c2c2;
}
.cont {
    display: flex;
    gap: 1.4rem;
    padding: 0.8rem 0.7rem;
}
.cont > p {
    font-size: 14px;
}
.ho {
    max-width: 24px;
    max-height: 24px;
}
.ho img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.ad {
    width: 80%;
    max-width: 580px;
}
.ad > p{
    font-size: clamp(13px, 3vw, 15px);
}
@media (max-width: 340px) {
    .ad > p {
        font-size: 12.3px;
    }
}
.address {
    border-bottom: 1px solid #c2c2c2c2;
}

/* Payment */

.list {
    list-style-type: none;
}
.list li {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.6rem;
}
.list li > p {
    color: black;
    font-size: clamp(12px, 3vw, 13.3px);
}
.awbERII29_2j {
    font-weight: 500;
    opacity: 0.9;
}
.asl {
    border-top: 1px solid #c2c2c2c2;
    padding: 0.5rem 0.4rem !important;
    border-bottom: 1px solid #c2c2c2c2;
}



/* More  */

.more {
display: flex;
overflow: auto hidden;
align-items: center;
gap: 1.2rem;
padding-bottom: 1rem;
justify-content: flex-start;

}
.card-more {
    border: 1px solid #d2d5d9;
    flex-grow: calc(2rem);
    min-width: 186px;
    max-width: 330px;
    max-height: 310px;
    min-height: 280px;
}
.img-more {
    height: 180px;
}
.img-more img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.more::-webkit-scrollbar {
    height: 7px;
}
.more::-webkit-scrollbar-thumb {
    background: #12263a; 
    border-radius: 20px;
    visibility: visible;
}
.rate {
    font-size: 14.2px;
    margin-top: 8px;
    display: flex;
}
.star {
    width: 14.2px;
}
._p1 {

    margin-top: 1rem;
}