<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="./rate.php" method="post">
        <input type="text" name="starCount" placeholder="star rating">
        <input type="text" name="description" placeholder="description">
        <input type="text" value="4" name='productId' hidden>
        <input type="text" value="159" name="userId" hidden>
        <input type="submit" name="postRating">
    </form>


    <script src="rating.js"></script>


    <div id="userId" style="line-height: 21px;">
       <br>User ID: <br> 
    </div>

    <div id="prodID" style="line-height: 21px;">
        <br>Product ID: <br>
    </div>

    <div id="rating" style="line-height: 21px;">
        <br>Rating: <br>
    </div>

    <div id="desc" style="line-height: 21px;">
        <br> Description: <br>
    </div>
</body>
</html>